two-marquee {
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  /* Public Props */
  --gap: 0px;
  --animation-duration: 4s;
  
  /* Private Props */
  --items-count: 20;
  --animation-play-state: running;
  
}

two-marquee-track {
  width: max-content;
  height: 100%;
  display: flex;
  gap: var(--gap);
  
  /* Autoscroll Animation */
  animation: marquee-animation linear infinite;
  animation-duration: calc(var(--animation-duration) * var(--items-count));
  animation-play-state: var(--animation-play-state);
}

@keyframes marquee-animation {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

two-marquee[data-mask-edges] {
  mask: 
    linear-gradient(to right, rgba(0,0,0,0) 5%, rgba(0,0,0,1) 20%),
    linear-gradient(to left, rgba(0,0,0,0) 5%, rgba(0,0,0,1) 20%);
  mask-size: 50%, 50%;
  mask-position: 0% 0%, 100% 0%;
  mask-repeat: no-repeat;
}