---
import HeaderMenuItem from "./header-menu-item.astro";

type NavItem_MenuItem = {
  type: "menu-item";
  url: string;
  label: string;
  children?: NavItem[];
};
type NavItem_RawHtml = {
  type: "raw-html";
  content: string;
};
export type NavItem = NavItem_MenuItem | NavItem_RawHtml;

const navItems: NavItem[] = [
  {
    type: 'menu-item',
    url: '#',
    label: 'Pages',
    children: [
      {type: 'menu-item', url: "#", label: 'Pages', children: [
        {type: 'menu-item', url: '/', label: 'Home'},
        {type: 'menu-item', url: '/demos', label: 'Demos'},
      ]}
    ]
  },
  {
    type: "menu-item",
    url: "#",
    label: "Tools",
    children: [
      {
        type: "menu-item",
        url: "#",
        label: "Upload",
        children: [
          { type: "menu-item", url: "#", label: "Upload Video" },
          { type: "menu-item", url: "#", label: "Clip from URL" },
          { type: "menu-item", url: "#", label: "Backup Video" },
        ],
      },
      {
        type: "menu-item",
        url: "#",
        label: "Edit",
        children: [
          { type: "menu-item", url: "#", label: "Crop Video" },
          { type: "menu-item", url: "#", label: "Mute Video" },
          { type: "menu-item", url: "#", label: "Merge Video" },
          { type: "menu-item", url: "#", label: "Trim Video" },
          { type: "menu-item", url: "#", label: "Rotate Video" },
          { type: "menu-item", url: "#", label: "Compress Video" },
        ],
      },
      {
        type: "menu-item",
        url: "#",
        label: "Manage",
        children: [
          { type: "menu-item", url: "#", label: "Simple Video Manager" },
          { type: "menu-item", url: "#", label: "Video Privacy" },
          { type: "menu-item", url: "#", label: "Password Protected Video" },
        ],
      },
      {
        type: "menu-item",
        url: "#",
        label: "Share",
        children: [
          { type: "menu-item", url: "#", label: "Share Video Link" },
          { type: "menu-item", url: "#", label: "Send Multiple Videos" },
          { type: "menu-item", url: "#", label: "Embed Video" },
          { type: "menu-item", url: "#", label: "Download Video" },
        ],
      },
    ],
  },
  { type: "menu-item", url: "#", label: "Pricing" },
  { type: "menu-item", url: "#", label: "Blog" },
  { type: "menu-item", url: "#", label: "Login" },
  {
    type: "raw-html",
    content: `
    <a href="#" class="btn btn--primary whitespace-nowrap w-full my-4 min-[1100px]:w-auto min-[1100px]:my-0">
      Sign up for free
    </a>
    `,
  },
];
---

<script>
  import "./wc/two-mega-menu";
  import "./two-mega-menu.overwrite.css";
</script>

<two-mega-menu
  id="header-navigation-mega-menu"
  data-desktop-min-width="1100px"
  data-desktop-open-on-click
  data-desktop-open-on-hover
  data-mobile-close-on-click-outside
>
  <ul data-mega-menu-3b="menu">
    {navItems.map((item) => <HeaderMenuItem item={item} level={1} />)}
  </ul>
</two-mega-menu>

<two-mega-menu-mobile-toggler
  target-selector="#header-navigation-mega-menu"
  class="min-[1100px]:hidden"
>
  <button>Menu</button>
</two-mega-menu-mobile-toggler>
