<section class="section py-28 text-center justify-items-center bg-blue-100">
  <h2 class="text-3xl font-semibold leading-[1.2] md:text-5xl">Get started for free</h2>
  <p class="mt-4 text-xl opacity-50 md:text-3xl">
    Upload and share your first video with Streamable today.
  </p>
  <a href="#" class="mt-12 btn btn--primary">Sign up for free</a>
</section>
