---
import { getRandomUnsplashImage } from "@/utils/get-random";
const getImageUrl = () => getRandomUnsplashImage({ w: 600, h: 500 });
---

<section class="section pt-36 pb-24 md:pt-48 md:pb-48">
  <div class="mx-auto max-w-[62rem] space-y-20 md:space-y-40">
    <div class="flex flex-col gap-8 [&>*]:flex-[1_1] md:flex-row md:gap-12 lg:gap-20">
      <div class="aspect-[16/12] relative bg-neutral-300 rounded-xl overflow-hidden">
        <img
          src={getImageUrl()}
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
      <div class="flex flex-col justify-center gap-4">
        <h2 class="text-3xl font-semibold leading-[1.2] md:text-5xl">
          Upload and share your videos instantly
        </h2>
        <p class="text-lg text-neutral-500">
          The fastest video uploader on the web — don't take our word for it,
          try it! After your videos are uploaded, stream in 4K UHD (60fps). No
          home theater necessary
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-8 [&>*]:flex-[1_1] md:flex-row md:gap-12 lg:gap-20">
      <div class="aspect-[16/12] relative bg-neutral-300 rounded-xl overflow-hidden md:order-2">
        <img
          src={getImageUrl()}
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
      <div class="flex flex-col justify-center gap-4">
        <h2 class="text-3xl font-semibold leading-[1.2] md:text-5xl">
          Video editing that gets out of your way
        </h2>
        <p class="text-lg text-neutral-500">
          With one-click resizing to landscape, square, or vertical formats, you
          can get back hours of time while creating videos for every platform
          and channel
        </p>
      </div>
    </div>
  </div>
</section>
