---
import { getRandomUnsplashImage } from "@/utils/get-random";

const testimonials = [
  {
    avatar_image: getRandomUnsplashImage({ w: 50, h: 50 }),
    name: "Danny McLellan",
    role: "VP Events at Twitter",
    content:
      "I love it when a web tool provides a simple service seamlessly. @streamable is a super clean #video publishing tool. Host a vid with no surrounding noise but the logo. Embed tool as well. Great place to host and share a video.",
  },
  {
    avatar_image: getRandomUnsplashImage({ w: 50, h: 50 }),
    name: "Uponia Gaming",
    role: "Twitch.tv",
    content:
      "Shoutout to @streamable for being so good at converting videos, else I would not have any awesome plays of the game to share with my server members!",
  },
];
---

<section class="section pb-28">
  <h2 class="mx-auto max-w-[50rem] text-5xl font-semibold leading-[1.2] text-center">
    Streamable is loved by over 50 million users and customers from 122
    countries
  </h2>
  <div class="mt-24 flex flex-col gap-10 md:flex-row">
    {
      testimonials.map((item) => (
        <div class="flex-1 p-10 flex flex-col gap-10 justify-between border rounded-lg">
          <p class="text-xl text-neutral-500">{item.content}</p>
          <div class="flex gap-4">
            <img class="rounded-full" src={item.avatar_image} />
            <div class="flex flex-col justify-center">
              <span>{item.name}</span>
              <span class="text-neutral-500">{item.role}</span>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
