---
import Header from '@/views/header/header.astro';

type Props = {
  pageTitle?: string;
};
const { pageTitle = "My Site" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header/>
    <slot />
  </body>
</html>
